name: Github Actions Demo
on: [push]
jobs:
  Explore-Github-Actions:
    runs-on: ubuntu-22.04
    steps:

#      - name: Check out repository code
#        uses: actions/checkout@v3


      # 환경설정
      - name: jdk 17 설치
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - name: kotlin 설치
        run: sudo snap install --classic kotlin
      - name: jdk 버전 확인
        run: |
          java -version
          kotlin -version
          readlink -f $(which java)

      # 빌드
      - name: build
        run: ./gradlew build

      # 압축
      - name: tar
        # run: ./gradlew tar
        run: |
          tar -cvf log-collection.tar ./build/libs
          ls -al
      - name: artifact 저장 (테스트 실패시)
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test_result
          path: /home/runner/work/musinsa-log-collector/musinsa-log-collector/build/reports
          retention-days: 1

      # https://github.com/aws-actions/configure-aws-credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
#          role-to-assume: ${{ secrets.AWS_S3_UPLOAD_ROLE }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      # https://docs.aws.amazon.com/cli/latest/reference/s3/cp.html
      # https://docs.aws.amazon.com/ko_kr/cli/latest/userguide/cli-services-s3-commands.html
      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 log-collection.tar s3://musinsa-server-build/log-collection-api/test/log-collection.tar
      - name: action-slack
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          text: 빌드봇의 한마디
          author_name: 빌드봇 # default: 8398a7@action-slack
          mention: here
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: always() # Pick up events even if the job fails or is canceled.